* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.aumentarTexto {
  font-size: 200%;
}

.azul {
  background-color: teal;
}

.vermelho {
  background-color: tomato;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.faq-lista dd {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 2.5rem;
  }

  .menu {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;
  }
}

.js [data-tab="content"] section {
  display: none;
}

.js [data-tab="content"] section.atv {
  display: block !important;
}

.js [data-tab="content"] section.atv.show-right {
  animation: show-right 0.5s forwards;
}

.js [data-tab="content"] section.atv.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url("../img/arrow-red.svg") no-repeat center center;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

[data-anime="accordion"] dt.atv::after {
  content: " ";
  transform: rotate(-90deg);
}

[data-anime="accordion"] dd.atv {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anime="scroll"].atv {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-semana]::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #e54;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #000;
}

[data-semana].aberto::after {
  background-color: #3f4;
}

.btc-preco {
  background-color: #3f4;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-radius: 2px;
}

.arrow-black {
  background: url("../img/arrow-black.svg") no-repeat center center;
  display: inline-block;
  width: 8px;
  height: 10px;
}
